__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
images/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# cache
.pytest_cache/
.mypy_cache/

# Database
*.db

# misc
.DS_Store

# local environments
.venv/
.vscode/
.aws-sam/

# environment variables
.env